body {
	margin: 0;
	background: url('../img/backloginpage.gif');
	color: #ffffff;
	font-family: Verdana;
	font-size: 12px;
}

.header {
	height: 400px;
	background-color:#ffffff;
	border-bottom:6px #8E8E94 solid;
}

.logobound {
	top: 292px;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 335px;
	padding-left: 15px;
	text-align: center;
}

.content {
	margin: 15px auto;
}

label{
	display:block;
	font-weight:bold;
	text-align:right;
	width: 90px;
	float:left;
	height: 30px;
	padding-top: 17px;
}

input{
	float:left;
	margin-left: 15px;
	width:200px;
	padding: 10px;
	height: 40px;
	border-radius: 0.4em;
	margin-bottom: 10px;
}

.mybutton{
	clear:both;
	margin-left:230px;
	width:75px;
	text-align:center;
	font-size:12px;
	font-weight:bold;
	border-radius: 0.5em;
	color: #FFFFFF;
	background: url('../img/back.gif') -1;
}

.myerror {
	clear: both;
	margin-top: 50px;
	border-top: 1px solid #bab9b4;
	color: #ffcece;
}