body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: url('../img/trepeat.gif') repeat-x;
}

#wrapper {
	margin: 0px auto;
	width: 900px;
}
#header {
	background: url('../img/top.jpg') no-repeat;
	height: 100px;
}
#line-top {
	width: 100%;
	height: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
}
#header #logo {
	float: left;
}
.grid_1 {
	width: 205px;
}
.grid_2 {
	width: 600px;
	float: right;
	margin-top: 20px;
}

.cur {
	background-color: #AAAAAA;
	font-weight: bold;
	text-align: center;
}

.ncur {
	background-color: #FFFFFF;
	text-align: center;
}

.input100{
	width: 100px;
}

.inputdate {
	background: url(../img/datepicker.png) no-repeat;
	background-position: 98% 60%;
	background-size: 16px 16px;
}

fieldset {
  border:1px solid #DDDDDD;
  padding:0 0.5em 0.5em;
  margin-bottom: 10px;
}

fieldset>legend {
	font-weight: bolder;
}

fieldset div {
  clear:both;
  margin:0.3em 0;
}

label {
  float:left;
  margin-right:1em;
  text-align:right;
  width:10em;
  margin-top: 5px;
}

.registrasi {
  background-image:url(../img/user.gif);
  background-position: 95% 102%;
  background-repeat:no-repeat;
}
.pendidikan {
  background-image:url(../img/book.gif);
  background-position: 95% 110%;
  background-repeat:no-repeat;
  background-size: 90px 90px;
}

input {
  background-color:#FAFAFA;
  border:1px solid #DDDDDD;
  border-bottom-left-radius:0.4em;
  border-bottom-right-radius:0.4em;
  border-top-left-radius:0.4em;
  border-top-right-radius:0.4em;
  font-family:arial, sans-serif;
  font-size:0.95em;
  font-style:normal;
  font-variant:normal;
  font-weight:bold;
  line-height:normal;
  padding:0.15em;
  width:35em;
}

option {
	background-color:#FAFAFA;
	border:1px solid #DDDDDD;
	border-radius: 0.4em;
}

button {
	border-radius: 0.4em;
	cursor: pointer;
	background-color: #84c2e3;
	width: 15em;
	height: 25px;
	font-weight:bold;
}

.edit, .cari, .add {	
	margin-left: 12em;
}

#content {
	margin-top: 50px;
	background: url('../img/tcontent.gif') top left no-repeat;
	padding-left: 25px;
	padding-top: 30px;
	padding-right: 25px;
	padding-bottom: 25px;
}

#header-content {	
	font-family: Verdana;
	font-size: large;
	font-weight: bold;
	width: 300px;
	border-bottom: 1px dashed #BBBBBB;
	margin-bottom: 20px;
}

select {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(../img/select-arrow.png), 
    -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;}

#background-image
{
	margin-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	background: url('../img/graduated.gif') bottom right no-repeat;
}
#background-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
}
#background-image td
{
	padding: 8px;
	color: #669;
	border-top: 1px solid #fff;
}
#background-image tfoot td
{
	font-size: 11px;
}

#background-image .operation
{
	text-align: center;
}

#background-image img {
	border: 1px solid #DADADA;
	border-radius: .5em;
}

#background-image img:hover {
	border: 1px solid #DADADA;
	border-radius: .5em;
	background-color: #c4b9b9;
}

#background-image a {
	padding: 3px;
}

#background-image tbody td
{
	background: url('../img/back.png');
}

#background-image tbody tr:hover td
{
	color: #339;
	background: none;
}

#footer {
	text-align: right;
	padding-right: 30px;
}
#clear {
	clear: both;
}

.inputr {
	width: 10px;
}

.logout {
	margin-top: 15px;
	text-align: right;
	margin-right: 20px;
}

.alogout {
	text-decoration: none;
	color: #1164ee;
	font-weight: bold;
}

.alogout:hover {
	text-decoration: underline;
	color: #fc7903;
	font-weight: bold;
}
