body {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: url('../img/trepeat.gif') repeat-x;
}
#header {
	background: url('../img/top.jpg') no-repeat;
}
#line-top {
	width: 100%;
	height: 20px;
	padding-bottom: 10px;
}

#wrapper {
	margin: 0px auto;
	width: 900px;
}

#content {
	padding: 20px;
	padding-left: 25px;
	padding-top: 25px;
	background-image: url('../img/tcontent.gif'), url('../img/corner.gif');
	background-position: top left, bottom right;
	background-repeat: no-repeat;
}
#content #link {
	float: left;
	height: 125px;
	width: 110px;
	margin-right: 10px;
	text-align: center;
}
#content #content-bottom{
	clear: both;
}

.studentlink {
	background: url('../img/mahasiswa.gif') no-repeat right;
	height: 121px;
	width: 108px;
	display: block;	
}
.studentlink:hover {
	background-position: left;
}

.daftarlink {
	background: url('../img/pendaftaran.gif') no-repeat right;
	height: 121px;
	width: 107px;
	display: block;	
}
.daftarlink:hover {
	background-position: left;
}

.bayarlink {
	background: url('../img/pembayaran.gif') no-repeat right;
	height: 121px;
	width: 107px;
	display: block;
}
.bayarlink:hover {
	background-position: left;
}

.linklink {
	background: url('../img/link.gif') no-repeat right;
	height: 121px;
	width: 108px;
	display: block;
}
.linklink:hover {
	background-position: left;
}
#footer {
	margin-top: 50px;
	width: 878px;
	text-align: right;
	color: #DEDEDE;
	float: left;
}
#bottom {
	clear: both;
}

.logout {
	margin-top: 15px;
	text-align: right;
	margin-right: 10px;
}

.alogout {
	text-decoration: none;
	color: #1164ee;
	font-weight: bold;
}

.alogout:hover {
	text-decoration: underline;
	color: #fc7903;
	font-weight: bold;
}
