#money-image
{
	margin-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	background: url('../img/money.png') bottom right no-repeat;
}
#money-image th
{
	padding: 12px;
	font-weight: normal;
	font-size: 14px;
	color: #339;
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid #CCCCCC;
}
#money-image td
{
	padding: 8px;
	color: #669;
	border-top: 1px solid #fff;
}
#money-image tfoot td
{
	font-size: 11px;
}

#money-image .operation
{
	text-align: center;
}

#money-image img {
	border: 1px solid #DADADA;
	border-radius: .5em;
}

#money-image img:hover {
	border: 1px solid #DADADA;
	border-radius: .5em;
	background-color: #c4b9b9;
}

#money-image a {
	padding: 3px;
}

#money-image tbody td
{
	background: url('../img/back.png');
}

#money-image tbody tr:hover td
{
	color: #339;
	background: none;
}