/*syle.css*/
body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ----------- My Form ----------- */
.myform{
	margin:0 auto;
	width:700px;
	padding:14px;
}
/* ----------- stylized ----------- */
#stylized{
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}
#stylized h1 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:8px;
}

#stylized h2 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

#stylized p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}
#stylized label{
	display:block;
	font-weight:normal;
	text-align:left;
	width:350px;
	float:left;
}
#stylized .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:250px;
}
#stylized input{
	float:left;
	font-size:12px;
	border:solid 1px #aacfe4;
	width:auto;
	margin-top: 2px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-top: 4px;
	padding-right: 2px;
	padding-bottom: 4px;
	padding-left: 2px;
}
#stylized span input {
	width: 15px;
	margin-left: 0px;
	position:absolute;
}
#stylized button{
	clear:both;
	margin-left:260px;
	width:300px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}

#stylized .panjang {
	width: 400px;
	display: block;
	float:left;
	padding: 4px 2px;
	margin: 2px 0 20px 10px;
}

#stylized select {
	padding: 2px 4px;
	border: solid 1px #aacfe4;
}

#footer {
	margin: 0 auto;
	padding-top: 5px;
	width:900px;
	color: #a5a5a5a5;
}

#footer .boundary {
	height: 1px;
	display: block;
	width: 900px;
	border-bottom: solid 1px #aacfe4;
	margin-bottom: 5px;
}

#footer img{
	float: right;
}
