body{
	font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}

/* ----------- My Form ----------- */
.myform{
	margin:0 auto;
	width:700px;
}

#stylized{
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
	float: left;
	padding: 14px;
}

#stylized h1 {
	font-size:18px;
	font-weight:bold;
	margin-bottom:8px;
}

#stylized p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

#stylized label{
	display: block;	
	width: 250px;
	text-align: right;
	float: left;
	font-weight: bold;
}

#stylized span{
	float: left;
	padding-left: 10px;
	width: 400px;
}
